<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVPlayerLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDDA64FD1C06B0920041D9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDA65161C06B0920041D9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDA65211C06B0920041D9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
