<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAEmitterLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD680ACA1C0450F6001CF9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD680AE31C0450F7001CF9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD680AEE1C0450F7001CF9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
